<a class="btn btn-default" data-toggle="collapse" data-target="#collapseinteractions">Dupliquer</a>
<div id="collapseinteractions" class="list-group collapse">
   <div id="divnbq" class="form-group row">
       <div class="col-md-9">
           <input type ="text" name='nbq' value='0' size='2' >
               {{ 'duplicate_this_question'|trans({}, 'messages') }}
           </input>
       </div>
   </div>
</div>
